div.main-body {
    font-size: 18pt;
    color: #626363;
    text-align: center;
    background-color: #e5e5e5;
    padding: 20px;
}

div.main-body > div {
    background-color: #ffffff;
    padding: 20px;
}

div.main-body span.email {
    color: #FFA457;
}