/********************* seckill list table start ************************/
div.form table.normal col.start-time {
    width: 130px;
}

div.form table.normal col.expect-participant-count,
div.form table.normal col.real-participant-count {
    width: 95px;
}

div.form table.normal col.commodity {
    width: 150px;
}

div.form table.normal col.winners {
    width: 70px;
}

div.form table.normal col.announcement {
    width: 200px;
}

div.form table.normal td {
    vertical-align: middle;
}

div.form div.list-type {
    padding-top: 10px;
}

/*********************** seckill list table end *********************/

/*********************** announcement edit form start ***********************/
#announceEditForm {
    padding: 20px;
    margin-top: -126px;
    width: 760px;
    margin-left: -380px;
}

#announceEditForm td {
    vertical-align: top;
}

#announceEditForm td.title {
    padding: 8px 10px 0 0;
}

#announceEditForm td.content {
    padding-bottom: 15px;
}

#announceEditForm div.submit {
    text-align: center;
}

/******************* announcement edit form end ***************************/

/****************** seckill activity add and edit form start *****************/
#seckillActivityForm {
    padding: 15px;
    margin-left: -410px;
    top: 50px;
}

#seckillActivityForm tr {
    line-height: 40px;
}

#seckillActivityForm td {
    vertical-align: top;
}

#seckillActivityForm td.title {
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
}

#seckillActivityForm span.required {
    padding-left: 3px;
    color: #ff0000;
}

#seckillActivityForm td.content {
    width: 250px;
}

#seckillActivityForm td.content input[type=text] {
    width: 210px;
}

#seckillActivityForm div.submit {
    padding: 15px 0 15px 300px;
}

#seckillActivityForm div.submit button {
    margin: 0 5px;
}

/********************* seckill activity add and edit form end *****************/
