/********************* seckill list table start ************************/
div.form table.normal col.start-time {
    width: 138px;
}

div.form table.normal col.expect-participant-count,
div.form table.normal col.real-participant-count {
    width: 95px;
}

div.form table.normal col.commodity {
    width: 150px;
}

div.form table.normal col.winners {
    width: 70px;
}

div.form table.normal col.announcement {
    width: 200px;
}

/*********************** seckill list table end *********************/
