/********************* lottery list table start ************************/
div.form table.normal col.start-time,
div.form table.normal col.expect-end-time,
div.form table.normal col.end-time,
div.form table.normal col.close-time {
    width: 80px;
}

div.form table.normal col.participant-count {
    width: 95px;
}

div.form table.normal col.expect-participant-count,
div.form table.normal col.real-participant-count {
    width: 70px;
}

div.form table.normal col.continuous-serial-limit {
    width: 80px;
}

div.form table.normal col.commodity {
    width: 150px;
}

div.form table.normal col.winners {
    width: 80px;
}

div.form table.normal col.virtual-liveness {
    width: 70px;
}

div.form table.normal col.virtual-liveness-users {
    width: 90px;
}

div.form table.normal col.announcement {
    width: 200px;
}

div.form table.normal td {
    position: relative;
}

div.form table.normal td.winner {
    overflow: visible;
}

div.form table.normal td.winner table thead {
    border-bottom: none;
}

div.form table.normal a.winner-ranking {
    font-size: 8pt;
    font-style: italic;
}

div.form table.normal div.winner-ranking {
    position: absolute;
    padding: 6px 4px;
    right: 0;
    width: 200px;
    display: none;
    background-color: #ffffff;
    border: 1px solid #999999;
    z-index: 2;
}

/*********************** lottery list table end *********************/
