/********************* lottery list table start ************************/
div.form table.normal col.start-time,
div.form table.normal col.expect-end-time,
div.form table.normal col.end-time {
    width: 80px;
}

div.form table.normal col.participant-count {
    width: 95px;
}

div.form table.normal col.expect-participant-count,
div.form table.normal col.real-participant-count {
    width: 70px;
}

div.form table.normal col.continuous-serial-limit {
    width: 80px;
}

div.form table.normal col.commodity {
    width: 150px;
}

div.form table.normal col.winners {
    width: 70px;
}

div.form table.normal col.virtual-liveness {
    width: 70px;
}

div.form table.normal col.virtual-liveness-users {
    width: 90px;
}

div.form table.normal col.announcement {
    width: 200px;
}

/*********************** lottery list table end *********************/
