div.display-mode {
    font-size: 12pt;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}

/* list mode style start */
div.count {
    margin: 15px 0 5px;
}

div.count > span {
    padding-right: 40px;
    font-size: 10pt;
}

div.count span.number {
    font-size: 14pt;
    font-weight: bold;
    font-style: italic;
    color: #20AE33;
}

/* list mode style end */

/* table mode style start */
div.buttons {
    margin: 15px 0 5px;
}

/* table mode style end */

/* float panel style start */
form .comment {
    color: #418940;
    font-size: 9pt;
}

form.edit-form {
    width: 900px;
    margin-left: -450px;
    top: 10px;
    padding: 10px;
}

form.edit-form div.submit {
    text-align: center;
}

form.edit-form div.submit button {
    margin: 0 10px;
}

#mailForm td {
    padding: 5px;
}

#mailForm td.title {
    width: 60px;
    vertical-align: top;
    padding-top: 10px;
    text-align: right;
}

#mailForm td.mail-account {
    padding-top: 1px;
}

#mailForm td.mail-account button {
    background-color: #cdcdcd;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    border: 3px solid transparent;
}

#mailForm td.mail-account button.selected {
    border-color: #FB499B;
}

#mailForm td.mail-account button:hover {
    background-color: #aaaaaa;
}

div.preview-panel {
    width: 830px;
    margin-left: -415px;
    padding: 10px;
    background-color: #c5c5c5;
}

div.preview-panel div.button {
    text-align: center;
}

#mailPreview div.subject, div.preview-panel div.content {
    background-color: #ffffff;
}

#mailPreview div.subject {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 5px;
}

/* float-panel style end */
