
.float-panel {
    width: 554px;
    margin-left: -277px;
    padding: 20px;
}

.float-panel table td {
    border: 1px solid #cccccc;
    padding: 10px;
}

.float-panel table td input[type=text] {
    display: inline-block;
    width: 200px;
}

.float-panel table td.content span.title {
    font-weight: bold;
    display: inline-block;
    width: 45px;
    text-align: right;
    margin-right: 5px;
}

.float-panel table td.content div.image {
    line-height: 35px;
    height: 35px;
    vertical-align: middle;
}

.float-panel table td.content input[type=file] {
    line-height: 28px;
}

.float-panel table td.content div.basic, .float-panel table td.content div.detail {
    margin-bottom: 5px;
}

.float-panel table td.content div.image {
    display: inline-block;
}

.float-panel table td.buttons {
    text-align: center;
}

.float-panel table td.buttons button {
    margin: 0 10px;
}

div.form div.add button {
    margin-bottom: 10px;
}

div.form table td.index {
    overflow: visible;
}

div.form table td.index div {
    position: relative;
    width: 40px;
    height: 18px;
    overflow: visible;
}

div.form table td.index img {
    height: 13px;
    width: 13px;
}

div.form table td.index input {
    padding: 5px;
    height: 25px;
    width: 40px;
}

div.form table td.index button {
    display: block;
    position: absolute;
    top: 1px;
    left: 105%;
}

div.form table th.name, div.form table td.name {
    width: 150px;
}

div.form table td.snapshot, div.form table td.detail-image, div.form table td.back-image {
    width: 110px;
    text-align: center;
    max-height: 105px;
    overflow: hidden;
}

div.form table td.snapshot {
    height: 111px;
}

div.form table td.snapshot a, div.form table td.detail-and-back td.detail-image a,
div.form table td.detail-and-back td.back-image a {
    display: block;
    max-width: 101px;
    max-height: 101px;
    overflow: hidden;
}

div.form table td.detail-and-back {
    padding-left: 40px;
}

div.form table.inner span.no-image {
    color: #CC0033;
    font-style: italic;
}

div.form table.inner td {
    border: 1px solid #dddddd;
}

ul.pagination {
    margin-left: 170px;
}
