div.buttons {
    margin-bottom: 5px;
}

table div.filter {
    position: relative;
    float: right;
}

table div.filter button.filter {
    vertical-align: top;
    padding: 9px 9px;
    background: url("images/table-filter.png") no-repeat;
    cursor: pointer;
}

table div.filter button.filter.asc {
    background-position: -19px 0;
}

table div.filter button.filter.desc {
    background-position: -37px 0;
}

table div.filter button.filter.filtered {
    background-position: -90px 0;
}

table div.filter button.filter.filtered.asc {
    background-position: -72px 0;
}

table div.filter button.filter.filtered.desc {
    background-position: -54px 0;
}

form .comment {
    color: #418940;
    font-size: 9pt;
}

form.edit-form {
    width: 900px;
    margin-left: -450px;
    top: 10px;
    padding: 10px;
}

form.edit-form div.submit {
    text-align: center;
}

form.edit-form div.submit button {
    margin: 0 10px;
}

#mailForm td {
    padding: 5px;
}

#mailForm td.title {
    width: 60px;
    vertical-align: top;
    padding-top: 10px;
    text-align: right;
}

#mailForm td.mail-account {
    padding-top: 1px;
}

#mailForm td.mail-account button {
    background-color: #cdcdcd;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
    border: 3px solid transparent;
}

#mailForm td.mail-account button.selected {
    border-color: #FB499B;
}

#mailForm td.mail-account button:hover {
    background-color: #aaaaaa;
}

#mailPreview {
    width: 830px;
    margin-left: -415px;
    padding: 10px;
    background-color: #c5c5c5;
}

#mailPreview div.subject, #mailPreview div.content {
    background-color: #ffffff;
}

#mailPreview div.subject {
    font-weight: bold;
    font-size: 12pt;
    margin-bottom: 5px;
}

#mailPreview div.button {
    text-align: center;
}
