div.footer-poster {
    display: none;
}

div.main-body {
    background-color: #e2e2e2;
    margin-top: 0;
    margin-bottom: 10px;
}

div.main-body span.comment {
    margin-left: 10px;
    color: #5A9527;
    font-size: 9pt;
}

div.main-body div.link-list > div {
    padding: 15px;
    overflow: hidden;
}

div.main-body div.link-list div.content > div {
    background-color: #ffffff;
    overflow: hidden;
    float: left;
}

div.main-body div.link-list div.content > div {
    border: 1px solid #a0a0a0;
    margin-right: 10px;
    margin-bottom: 8px;
}

div.main-body div.link-list div.content div.comment:hover,
div.main-body div.link-list div.content div.comment.selected,
div.main-body div.link-list div.content div.edit-image:hover,
div.main-body div.link-list div.content div.close-image:hover {
    background-color: #a0a0a0;
}

div.main-body div.link-list div.content div.comment,
div.main-body div.link-list div.content div.edit-image,
div.main-body div.link-list div.content div.close-image {
    cursor: pointer;
    height: 30px;
    padding: 5px;
}

div.main-body div.link-list div.content div.edit-image,
div.main-body div.link-list div.content div.comment {
    float: left;
    border-right: 1px solid #a0a0a0;
}

div.main-body div.link-list div.content div.close-image {
    float: right;
}

div.main-body div.image {
    position: relative;
    text-align: center;
}

div.main-body div.image div.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    cursor: crosshair;
}

#rectangle, div.main-body div.image div.demoRectangle {
    position: absolute;
    display: none;
}

#rectangle {
    border: 2px solid #F80387;
}

div.main-body div.image div.demoRectangle {
    border: 3px solid #3C9D45;
}

#linkInputDiv {
    position: fixed;
    background-color: #ffffff;
    z-index: 10;
    padding: 7px 15px;
    left: 50%;
    top: 50%;
    width: 260px;
    min-height: 230px;
    margin-left: -130px;
    margin-top: -100px;
    display: none;
}

#linkInputDiv > div {
    padding: 10px;
}

#linkInputDiv button {
    margin-right: 10px;
}

#linkInputDiv div.build-in-href span{
    margin-right: 10px;
}
