div.form > form div.edit-unit div.title {
    background-color: #262626;
    color: #ffffff;
    padding: 10px;
}

div.form > form div.edit-unit {
    border: 1px solid #454545;
    margin: 10px 0;
}

div.form > form div.edit-unit td {
    padding: 5px 10px;
    line-height: 20px;
    vertical-align: top;
    border-bottom: 1px solid #808080;
}

div.form > form div.edit-unit td.title {
    width: 150px;
    padding-top: 8px;
    text-align: right;
    font-weight: bold;
}

div.form > form div.edit-unit td.input {
    width: 785px;
}

div.form > form div.edit-unit th {
    padding: 5px 10px;
    border-bottom: 2px solid #808080;
    text-align: center;
}

div.form > form div.edit-unit td.input input {
    height: 30px;
}

div.form > form div.edit-unit td.input.boolean input {
    height: 17px;
    vertical-align: -3px;
}

div.form > form div.edit-unit td.input.boolean span {
    margin-right: 10px;
}

div.form > form div.submit {
    text-align: center;
    padding: 10px;
}

#submitButton {
    width: 200px;
}

#linkTable td {
    vertical-align: middle;
}

#linkTable col.text {
    width: 150px;
}

#linkTable col.target {
    width: 350px;
}

#linkTable col.action {
    width: 80px;
}

#emailList {
    padding: 5px 20px;
    overflow: hidden;
}

#emailList div.mail-item {
    background-color: #efefef;
    overflow: hidden;
    float: left;
    border: 1px solid #a0a0a0;
    margin-right: 10px;
    margin-bottom: 8px;
}

#emailList div.mail-item > div {
    cursor: pointer;
    height: 30px;
    padding: 5px;
    float: left;
}

#emailList div.mail-item div.username, #emailList div.mail-item div.edit-image {
    border-right: 1px solid #a0a0a0;
}

#emailList div.mail-item > div:hover {
    background-color: #a0a0a0;
}

#emailList div.button {
    clear: both;
}

div.edit-unit div.content td.title div.comment {
    margin-top: 20px;
    color: #289923;
    font-size: 9pt;
    text-align: left;
}

#emailAddEditForm {
    margin-left: -227px;
    margin-top: -98px;
    padding: 10px;
}

#emailAddEditForm td {
    text-align: right;
    padding: 5px;
}

#emailAddEditForm input {
    width: 300px;
}

#emailAddEditForm div.submit {
    text-align: center;
    padding: 5px;
}

#emailAddEditForm div.submit button {
    margin: 0 10px;
}
