div.header > div.back {
    background-color: #E0E0E0;
    width: 100%;
    min-width: 1000px;
    position: absolute;
}

div.header > div.content,
div.header > div.back {
    top: 0;
    height: 76px;
    overflow: visible;
}

div.header > div.content > div.left-logo {
    position: absolute;
    left: 0;
    top: 0;
}

div.header > div.content > div.right-navigation {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 1;
}

div.header > div.content > div.right-navigation > ul {
    float: left;
}

div.header > div.content > div.right-navigation > ul li {
    float: left;
    list-style-type: none;
    position: relative;
}

div.header > div.content > div.right-navigation > ul li a {
    padding: 0 7px;
    font-size: 11pt;
    color: #606060;
    border-right: #B1B1B1 1px solid;
}

div.header > div.content > div.right-navigation > ul li:last-child a,
div.header > div.content > div.right-navigation > ul li ul li a {
    border-right-width: 0;
}

div.header > div.content > div.right-navigation > ul li ul {
    width: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
}

div.header > div.content > div.right-navigation > ul li li {
    background-color: #E0E0E0;
    width: 90px;
}

div.header > div.content > div.right-navigation > ul li li.footer {
    height: 8px;
}

div.header > div.content > div.right-navigation > ul li li a {
    padding: 4px 10px;
    width: 100%;
    display: block;
}

div.header > div.content > div.right-navigation > ul li:hover ul {
    display: block;
}

div.header > div.content > div.right-navigation > ul li a.text.emphasize {
    color: #87BE4C;
}
