div.header > div.back {
    background-color: #E0E0E0;
    width: 100%;
    position: absolute;
}

div.header > div.content,
div.header > div.back {
    top: 0;
    height: 76px;
    overflow: visible;
}

div.header > div.content > div.left-logo {
    position: absolute;
    left: 0;
    top: 0;
}

div.header > div.content > div.right-navigation {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 1;
}

div.header > div.content > div.right-navigation > ul {
    float: left;
}

div.header > div.content > div.right-navigation > ul li {
    float: left;
    list-style-type: none;
    position: relative;
}

div.header > div.content > div.right-navigation > ul li a {
    padding: 0 10px;
    font-size: 9pt;
    color: #606060;
    border-right: #B1B1B1 1px solid;
}

div.header > div.content > div.right-navigation > ul li:last-child a,
div.header > div.content > div.right-navigation > ul li ul li a {
    border-right-width: 0;
}

div.header > div.content > div.right-navigation > ul li ul {
    width: 0;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
}

div.header > div.content > div.right-navigation > ul li li {
    background-color: #E0E0E0;
    width: 90px;
}

div.header > div.content > div.right-navigation > ul li li.footer {
    height: 8px;
}

div.header > div.content > div.right-navigation > ul li li a {
    padding: 4px 10px;
    width: 100%;
    display: block;
}

div.header > div.content > div.right-navigation > ul li:hover ul {
    display: block;
}

div.header > div.content > div.right-navigation > ul li a.text.emphasize {
    color: #87BE4C;
}

div.main-body div.snapshots {
    margin-top: 30px;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 40px;
    height: 170px;
    overflow: hidden;
    position: relative;
}

div.main-body div.snapshots div.snapshot {
    width: 120px;
    height: 170px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    display: none;
    color: #696969;
    font-size: 9pt;
    margin: 0 16px;
}

div.main-body div.snapshots div.snapshot.selected,
div.main-body div.snapshots div.snapshot:hover {
    border-bottom-color: #79B834;
}

div.main-body div.snapshots div.snapshot > div.name {
    margin-top: 3px;
}

div.main-body div.snapshots div.snapshot > div.price {
    margin-top: 3px;
}

div.main-body div.snapshots div.snapshot div.image {
    width: 100%;
    height: 120px;
    background: center center no-repeat;
    overflow: hidden;
}

div.main-body div.snapshots div.prev,
div.main-body div.snapshots div.next {
    position: absolute;
    width: 35px;
    height: 110px;
    bottom: 32px;
    background: no-repeat url("images/commodity/prev-or-next.png");
    cursor: pointer;
    display: none;
}

div.main-body div.snapshots div.prev:hover,
div.main-body div.snapshots div.next:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    background-color: #f0f0f0;
}

div.main-body div.snapshots div.prev {
    display: none;
    background-position: 0 0;
    left: 0;
}

div.main-body div.snapshots div.next {
    background-position: -35px 0;
    right: 5px;
    display: none;
}

div.main-body div.detail {
    position: relative;
    margin: 70px 0;
    text-align: center;
    min-height: 500px;
}

div.main-body > div.detail > div.participant-count {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: 200px;
    font-size: 12pt;
    color: #909090;
}

.float-panel div.title {
    height: 46px;
    background-color: #F5F9F9;
    line-height: 46px;
    vertical-align: middle;
    font-size: 12pt;
    padding-left: 18px;
    border-bottom: #E5E5E5 solid 1px;
}

.float-panel div.title div.close-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    background: url('images/register-image.png') no-repeat -212px -5px;
}

.float-panel div.title div.close-icon:hover {
    background-position: -212px -31px;
}

.float-panel > div {
    position: relative;
}

.float-panel button.green-submit-button {
    background: url('images/login-button-back.png') repeat-x;
    color: #ffffff;
    width: 260px;
    border-radius: 5px;
    padding: 8px;
    font-size: 12pt;
}

#lotteryExceptionPrompt, #telInputForm, #lotteryResult {
    width: 484px;
    margin-left: -242px;
}

#lotteryExceptionPrompt, #telInputForm {
    height: 350px;
    margin-top: -175px;
}

#lotteryResult {
    min-height: 350px;
}

#telInputForm div.body {
    padding-top: 40px;
}

#telInputForm div.body td.title {
    width: 130px;
    text-align: right;
    padding-right: 10px;
}

#telInputForm div.body td.content div.comment {
    color: #838383;
    font-size: 9pt;
    margin: 5px 0 20px;
}

#telInputForm div.body td.content input.identity-code {
    width: 110px;
}

#telInputForm div.body div.submit {
    padding: 17px 0 0 130px;
}

/*#telInputForm div.body div.submit button {
    background: url('images/login-button-back.png') repeat-x;
    color: #ffffff;
    width: 260px;
    border-radius: 5px;
    padding: 8px;
    font-size: 12pt;
}*/

#noPrivilegePrompt {
    width: 450px;
    height: 200px;
    margin-left: -225px;
    margin-top: -100px;
}

#noPrivilegePrompt div.body {
    padding: 20px;
    text-align: center;
}

#noPrivilegePrompt div.body h4 {
    color: #F01866;
}

#noPrivilegePrompt div.body > div {
    color: #838383;
}

#lotteryExceptionPrompt div.body div.info {
    position: absolute;
    top: 115px;
    width: 100%;
    text-align: center;
    font-size: 12pt;
}

#lotteryExceptionPrompt div.body div.links {
    position: absolute;
    top: 180px;
    left: 315px;
    font-size: 10pt;
}

#lotteryResult div.body {
    padding-bottom: 5px;
}

#lotteryResult div.body span {
    font-size: 16pt;
    color: #838383;
}

#lotteryResult div.body span.split {
    padding: 0 8px;
}

#lotteryResult div.body div.activity-info {
    color: #838383;
    font-size: 10pt;
    padding-left: 20px;
    overflow: hidden;
    padding-top: 5px;
}

#lotteryResult div.body div.activity-info > div {
    float: left;
}

#lotteryResult div.body div.activity-info div.participant-count {
    width: 155px;
}

#lotteryResult div.body div.activity-info div.deadline span.icon {
    background: url("images/lottery-result.png") no-repeat 0 5px;
    padding: 0 10px;
}

#lotteryResult div.body div.my-lottery {
    margin-top: 40px;
    padding-left: 40px;
    overflow: hidden;
}

#lotteryResult div.body div.my-lottery div {
    float: left;
    overflow: hidden;
}

#lotteryResult div.body div.my-lottery div.number {
    width: 230px;
}

#lotteryResult div.body div.my-lottery div.number div.text {
    padding-top: 7px;
}

#lotteryResult div.body div.my-lottery div.number div.number-list {
    width: 130px;
    padding-left: 5px;
}

#lotteryResult div.body div.my-lottery div.number div.number-list span {
    display: block;
}

#lotteryResult div.body div.my-lottery div.liveness {
    width: 180px;
}

#lotteryResult div.body div.my-lottery div.liveness div.mine span.icon {
    padding: 0 13px;
    background: url("images/lottery-result.png") no-repeat -16px 0;
}

#lotteryResult div.body div.my-lottery div.liveness div.max {
    padding-left: 26px;
}

#lotteryResult div.body div.prompt {
    position: relative;
    font-size: 10pt;
    text-align: center;
    padding: 18px 0;
    height: 72px;
}

/*#lotteryResult div.body div.prompt div.no-chance {
    color: #F01866;
    display: none;
}*/

#lotteryResult div.body div.prompt div.spread {
    position: absolute;
    width: 100%;
    top: 38px;
    color: #838383;
}

#lotteryResult div.body div.prompt div.spread div.spread-method {
    position: absolute;
    right: 50px;
    top: 1px;
    font-size: 9pt;
}

#lotteryResult div.body div.lottery-again {
    padding-left: 105px;
    font-size: 9pt;
}

#lotteryResult div.body div.share {
    text-align: right;
    margin-top: 23px;
    padding: 5px 10px;
}

#lotteryResult div.body div.share a {
    margin: 0 4px;
}

#lotteryResult div.body div.share a.sina {
    padding: 4px 31px;
    background: url("images/lottery-result.png") no-repeat -3px -27px;
}

#lotteryResult div.body div.share a.qq {
    padding: 5px 32px;
    background: url("images/lottery-result.png") no-repeat -76px -25px;
}

#lotteryResult div.body div.share a.qzone {
    padding: 5px 29px;
    background: url("images/lottery-result.png") no-repeat -151px -25px;
}

#lotteryRule {
    width: 530px;
    margin-left: -265px;
}

#lotteryRule div.title {
    height: 28px;
    background-color: #82c92f;
    color: #ffffff;
    font-weight: bold;
    font-size: 9pt;
    padding: 0 10px;
    line-height: 27px;
}

#lotteryRule div.title div.close-icon {
    position: absolute;
    right: 10px;
    top: 0;
    background: #a2d764;
    width: 42px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

#lotteryRule div.title div.close-icon span {
    padding: 0 7px;
    background: url("images/register-image.png") -164px -34px;
}

#lotteryRule div.body {
    padding: 20px;
}

#lotteryRule div.button {
    padding: 0 0 20px 0;
    text-align: center;
}

#lotteryRule div.button button {
    color: #ffffff;
    background: url('images/lottery-rule-button-back.png') repeat-x;
    height: 36px;
    padding: 0 27px;
    border-radius: 3px;
}
