div.main-body div.snapshots {
    margin-top: 30px;
    border-bottom: 1px solid #DBDBDB;
    padding: 0 17px;
    height: 170px;
    overflow: hidden;
    position: relative;
}

div.main-body div.snapshots div.snapshot {
    position: relative;
    width: 120px;
    height: 170px;
    float: left;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    display: none;
    color: #696969;
    font-size: 9pt;
    margin: 0 20px;
}

div.main-body div.snapshots div.snapshot.selected,
div.main-body div.snapshots div.snapshot:hover {
    border-bottom-color: #79B834;
}

div.main-body div.snapshots div.snapshot > div.name {
    margin-top: 3px;
}

div.main-body div.snapshots div.snapshot > div.name.in-activity {
    margin-top: 12px;
}

div.main-body div.snapshots div.snapshot > div.price {
    margin-top: 3px;
}

div.main-body div.snapshots div.snapshot > div.in-lottery-icon,
div.main-body div.snapshots div.snapshot > div.in-seckill-icon {
    position: absolute;
    right: 0;
    bottom: 50px;
    display: none;
}

div.main-body div.snapshots div.snapshot:hover > div.in-lottery-icon,
div.main-body div.snapshots div.snapshot:hover > div.in-seckill-icon {
    opacity: 1;
    filter: alpha(opacity=100);
}

div.main-body div.snapshots div.snapshot > div.in-lottery-icon img,
div.main-body div.snapshots div.snapshot > div.in-seckill-icon img {
    width: 38px;
    height: 36px;
}

div.main-body div.snapshots div.snapshot div.image {
    width: 100%;
    height: 120px;
    background: center center no-repeat;
    overflow: hidden;
}

div.main-body div.snapshots div.prev,
div.main-body div.snapshots div.next {
    position: absolute;
    width: 35px;
    height: 110px;
    bottom: 32px;
    background: no-repeat url("images/commodity/prev-or-next.png");
    cursor: pointer;
    display: none;
}

div.main-body div.snapshots div.prev:hover,
div.main-body div.snapshots div.next:hover {
    opacity: 0.9;
    filter: alpha(opacity=90);
    background-color: #f0f0f0;
}

div.main-body div.snapshots div.prev {
    display: none;
    background-position: 0 0;
    left: 0;
}

div.main-body div.snapshots div.next {
    background-position: -35px 0;
    right: 5px;
    display: none;
}

div.main-body div.details {
    overflow-y: hidden;
}

div.main-body div.detail {
    width: 100%;
    position: relative;
    text-align: center;
    overflow-y: hidden;
    background: no-repeat top center;
}

div.main-body > div.summary {
    position: relative;
    height: 0;
    overflow: visible;
    z-index: 1;
}

div.main-body > div.summary div.right {
    position: absolute;
    top: 22px;
    right: 0;
    height: 70px;
}

div.main-body > div.summary div.right.two-rows {
    top: 10px;
}

div.main-body > div.summary div.remaining-time {
    display: none;
}

div.main-body > div.summary div.remaining-time > div {
    float: left;
}

div.main-body > div.summary div.remaining-time div.title {
    font-size: 18px;
    line-height: 26px;
    margin-right: 5px;
}

div.main-body > div.summary div.participant-count {
    clear: both;
    display: none;
    line-height: 40px;
    font-size: 14px;
    text-align: right;
}

.float-panel button.green-submit-button {
    background: url('images/login-button-back.png') repeat-x;
    color: #ffffff;
    width: 260px;
    border-radius: 5px;
    padding: 8px;
    font-size: 12pt;
}

#exceptionPrompt, div.activity-result {
    width: 484px;
    margin-left: -242px;
}

#exceptionPrompt {
    margin-top: -137px;
}

#exceptionPrompt div.body {
    height: 230px;
}

#exceptionPrompt div.body div.info {
    position: absolute;
    top: 115px;
    width: 100%;
    text-align: center;
    font-size: 12pt;
}

#exceptionPrompt div.body div.links {
    position: absolute;
    top: 180px;
    left: 315px;
    font-size: 10pt;
}

/**************************** lottery result start ***************************/
div.activity-result {
    margin-top: -157px; /* height is 314px */
}

div.activity-result div.body {
    padding-bottom: 5px;
    min-height: 270px;
}

div.activity-result div.body div.activity {
    overflow: hidden;
    border-bottom: 1px solid #B7B7B7;
    padding: 5px 10px;
    margin: 0 20px;
}

div.activity-result div.body div.activity div.image {
    float: left;
}

div.activity-result div.body div.activity div.description {
    width: 300px;
    float: right;
    padding-top: 5px;
    line-height: 28px;
}

div.activity-result div.body div.conceal {
    display: none;
}

div.activity-result div.body button.blue {
    background: url("images/blue-button-back.png") repeat-x center center;
    border-radius: 5px;
    padding: 8px 20px;
    color: #ffffff;
    margin: 0 20px;
    min-width: 95px;
}

div.activity-result div.body div.create-number,
div.activity-result div.body div.manual-number-creator {
    padding-top: 60px;
    text-align: center;
}

div.activity-result div.body div.manual-number-creator select {
    width: 100px;
    border: 1px solid #ADADAD;
    background-color: #ffffff;
}

div.activity-result div.body div.manual-number-creator div.submit {
    margin-top: 30px;
}

div.activity-result div.body div.lot {
    margin-top: 55px;
    padding: 0 50px;
    text-align: center;
}

div.activity-result div.body div.lot button.create-number {
    display: none;
    color: #ffffff;
    background-color: #85C926;
    padding: 5px 25px;
}

div.activity-result div.body div.lot div.serial-number {
    margin-bottom: 30px;
}

div.activity-result div.body div.lot div.serial-number span.number {
    width: 80px;
    display: inline-block;
    margin-left: 20px;
    font-size: 14pt;
    font-weight: bold;
}

div.activity-result div.body div.lot div.serial-number span.number span {
    margin-right: 10px;
}

div.activity-result div.body div.lot div.success,
div.activity-result div.body div.lot div.tel,
div.activity-result div.body div.lot div.insufficient-liveness {
    display: none;
    margin-top: 10px;
    color: #F26522;
    font-size: 10pt;
}

div.activity-result div.body div.lot div.tel {
    position: relative;
}

div.activity-result div.body div.lot div.tel input {
    width: 260px;
}

div.activity-result div.body div.lot div.tel input.error {
    border-color: #FF0033;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(204, 0, 51, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(204, 0, 51, .6);
}

div.activity-result div.body div.lot div.tel div.comment {
    margin-left: 98px;
    color: #808080;
    font-size: 10pt;
    padding-top: 5px;
}

div.activity-result div.body div.lot div.tel div.modify,
div.activity-result div.body div.lot div.tel div.validate-error {
    position: absolute;
    font-size: 10pt;
    right: 35px;
    top: 8px;
}

div.activity-result div.body div.lot div.tel div.modify a {
    color: #808080;
    padding: 10px 0;
}

div.activity-result div.body div.lot div.tel div.modify a:hover {
    color: #505050;
}

div.activity-result div.body div.lot div.tel div.validate-error {
    color: #FF0033;
    display: none;
}

div.activity-result div.body div.lot div.tel div.buttons {
    position: absolute;
    width: 260px;
    height: 70px;
    border: 1px solid #B7B7B7;
    border-top-width: 0;
    left: 98px;
    top: 37px;
    background-color: #ffffff;
    display: none;
}

div.activity-result div.body div.lot div.tel div.buttons > div {
    margin-top: 18px;
    text-align: center;
    display: none;
}

div.activity-result div.body div.lot div.tel div.buttons button {
    margin: 0 10px;
}

div.activity-result div.body div.lot div.liveness {
    margin-top: 30px;
}

div.activity-result div.body div.lot div.serial {
    margin-top: 15px;
}

div.activity-result div.body div.lot div.liveness span.liveness,
div.activity-result div.body div.lot div.serial span.serial {
    margin-left: 7px;
}

div.activity-result div.body div.lot div.liveness span.icon {
    margin-left: 4px;
    padding: 4px 13px;
    background: url("images/lottery-result.png") no-repeat -18px 0;
}

div.activity-result div.body div.lot div.pokers div.poker {
    position: relative;
    float: left;
    margin: 10px 19px;
    height: 140px;
    width: 90px;
}

div.activity-result div.body div.lot div.pokers div.poker img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

div.activity-result div.body div.lot div.pokers div.poker img.positive {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-animation: rotate-animation 0.4s;
    -moz-animation: rotate-animation 0.4s;
    animation: rotate-animation 0.4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

div.activity-result div.body div.lot div.pokers div.poker img.negative {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-animation: rotate-inverse-animation 0.4s;
    -moz-animation: rotate-inverse-animation 0.4s;
    animation: rotate-inverse-animation 0.4s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

div.activity-result div.body div.lot div.result {
    font-size: 11pt;
    text-align: center;
    display: none;
}

div.activity-result div.body div.lot div.result.success {
    color: #009900;
}

div.activity-result div.body div.lot div.result.fail {
    color: #CC0033;
}

div.activity-result div.insufficient-liveness {
    margin-top: 80px;
}

div.activity-result div.insufficient-liveness div.status {
    padding: 20px 0 0 0;
    color: #808080;
    font-size: 10pt;
}

div.activity-result div.insufficient-liveness div.status > span {
    color: #FF0066;
}

div.activity-result div.activity-expire {
    text-align: center;
    margin-top: 60px;
    color: #808080;
    font-size: 12pt;
}

/*div.activity-result div.activity-expire a {
    display: block;
    margin-top: 10px;
    font-size: 10pt;
}*/

/*div.activity-result div.body div.remaining-time {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #808080;
}*/

/*div.activity-result div.body div.bottom {
    position: absolute;
    right: 32px;
    bottom: 10px;
    font-size: 10pt;
}

div.activity-result div.body div.bottom > div {
    float: left;
}

div.activity-result div.body div.bottom div.rule {
    margin-left: 20px;
}

div.activity-result div.body div.bottom div.remaining-time span.time {
    font-size: 11pt;
}

div.activity-result div.body div.bottom div.share {
    position: relative;
    height: 18px;
    overflow: visible;
}

div.activity-result div.body div.bottom div.share > div {
    display: none;
}

div.activity-result div.body div.bottom div.share:hover > div {
    display: block;
}

div.activity-result div.body div.bottom div.share div.list {
    position: absolute;
    background-color: #ffffff;
    padding-top: 10px;
    top: 100%;
    left: -40px;
    font-size: 11pt;
}

#seckillResult div.body div.bottom div.share div.list {
    left: 0;
}

div.activity-result div.body div.bottom div.share ul {
    border: 7px double #E3DDDA;
    margin: 0;
}

div.activity-result div.body div.bottom div.share ul li {
    list-style-type: none;
    width: 110px;
    border-bottom: 1px solid #E3DDDA;
    padding: 12px 0 12px 12px;
}

div.activity-result div.body div.bottom div.share ul li a {
    display: block;
    color: #666666;
    line-height: 22px;
    height: 22px;
    width: 96px;
}

div.activity-result div.body div.bottom div.share span.title {
    cursor: pointer;
}

div.activity-result div.body div.bottom div.share span.title span.caret {
    margin-left: 5px;
}

div.activity-result div.body div.bottom div.share span.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("images/lottery-result.png") no-repeat;
}

div.activity-result div.body div.bottom div.share a.sina span.icon {
    background-position: -4px -29px;
}

div.activity-result div.body div.bottom div.share a.qq span.icon {
    background-position: -78px -28px;
}

div.activity-result div.body div.bottom div.share a.qzone span.icon {
    background-position: -154px -28px;
}

div.activity-result div.body div.bottom div.share div.triangle {
    position: absolute;
    width: 0;
    height: 0;
    left: 15px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid;
}

div.activity-result div.body div.bottom div.share div.triangle.outer {
    top: 22px;
    border-bottom-color: #E3DDDA;
}

div.activity-result div.body div.bottom div.share div.triangle.inner {
    top: 25px;
    border-bottom-color: #ffffff;
}*/

/************************************ lottery result end *******************************/
