div.main-body {
    padding: 20px 0;
    background-color: #F2F2F2;
}

div.main-body > div {
    background-color: #ffffff;
    padding: 0 30px 100px 30px;
}

div.main-body > div > div.title {
    padding-top: 25px;
    font-size: 14pt;
}

div.main-body table, div.main-body div.reset-password-result {
    margin-top: 50px;
    margin-left: 20%;
}

div.main-body td {
    padding: 5px;
    color: #666;
}

div.main-body td.title {
    text-align: right;
}

div.main-body td input.username {
    width: 296px;
}

div.main-body td input.identity-code {
    width: 195px;
}

div.main-body td.input button {
    margin-top: 5px;
    background-color: #73C92A;
    width: 120px;
}

div.main-body td.input button:hover {
    background-color: #4cb117;
}

div.main-body div.reset-password-result {
    display: none;
}

div.main-body div.reset-password-result > div {
    padding: 5px 0;
}

div.main-body div.reset-password-result span.mail {
    color: #4cb117;
}

div.main-body div.reset-password-result span.resend-success,
div.main-body div.reset-password-result span.resend-fail {
    display: none;
}

div.main-body div.reset-password-result span.resend-success,
div.main-body div.reset-password-result span.resend-fail {
    padding-left: 10px;
    color: #FFA457;
}
