div.header > div.top-back {
    background-color: #434343;
    width: 100%;
    top: 0;
    height: 36px;
    position: absolute;
}

div.header > div.bottom-back {
    background-color: #FFFFFF;
    width: 100%;
    height: 82px;
    top: 36px;
    position: absolute;
}

div.header > div.content {
    top: 0;
    height: 118px;
    overflow: visible;
}

div.header > div.content > div.left-logo {
    position: absolute;
    left: 0;
}

div.header > div.content > div.navigation {
    position: absolute;
    left: 180px;
    top: 65px;
    color: #A0C4DC;
}

div.header > div.content > div.navigation a {
    padding: 10px;
    font-size: 13pt;
    color: #0A0A0A;
}

div.header > div.content > div.right-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: visible;
    line-height: 26px;
}

div.header > div.content > div.right-logo img {
    vertical-align: top;
}

div.header > div.content > div.right-logo > ul {
    float: left;
    margin-top: 5px;
}

div.header > div.content > div.right-logo > ul li {
    float: left;
    list-style-type: none;
    position: relative;
}

div.header > div.content > div.right-logo > ul li a {
    padding: 16px 15px;
    font-size: 9pt;
    color: #ffffff;
}

div.header > div.content > div.right-logo > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 118%;
    width: 100%;
    z-index: 1;
}

div.header > div.content > div.right-logo > ul li li {
    background-color: #5F5F5F;
    width: 100%;
}

div.header > div.content > div.right-logo > ul li li.footer {
    height: 8px;
}

div.header > div.content > div.right-logo > ul li li a {
    padding: 4px 15px;
    width: 100%;
    display: block;
}

div.header > div.content > div.right-logo > ul li:hover ul {
    display: block;
}

div.header > div.content > div.right-logo > ul li a.emphasize {
    background-color: #917347;
}

div.header > div.content > div.slogan {
    position: absolute;
    right: 0;
    top: 55px;
}
