div.gray-back {
    background-color: #e0e0e0;
    padding: 20px 0;
}

div.main-body {
    background-color: #ffffff;
    padding: 10px;
}

div.main-body table.normal col.winners {
    width: 82px;
}

div.main-body table.normal col.announcement {
    width: 200px;
}

div.main-body tbody tr.expire {
    color: #449359;
}
