/*div.main-body div.right table.user-info {
    border-collapse: collapse;
}

div.main-body div.right table.user-info td {
    position: relative;
    width: 350px;
    padding: 10px;
    color: #4b4b4b;
    font-size: 14pt;
    border: 1px solid #dcdcdc;
}

div.main-body div.right table.user-info td:hover {
    background-color: #e0e0e0;
    padding-left: 15px;
}

div.main-body div.right table.user-info td span.password-icon,
div.main-body div.right table.user-info td span.email-icon,
div.main-body div.right table.user-info td span.tel-icon {
    padding: 10px;
    background: no-repeat url("images/personal-center.png");
}

div.main-body div.right table.user-info td span.password-icon {
    background-position: 0 5px;
}

div.main-body div.right table.user-info td span.email-icon {
    background-position: 0 -93px;
}

div.main-body div.right table.user-info td span.tel-icon {
    background-position: 0 -43px;
}

div.main-body div.right table.user-info td span.liveness-icon {
    padding: 10px;
    background: no-repeat url("images/heart.png") 0 11px;
}

div.main-body div.right table.user-info td span.user-icon {
    padding: 10px;
    background: no-repeat url("images/face.png") 0 11px;
}

#changeEmail, #changeTel {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 10pt;
}

div.main-body div.right table.user-info tr.temporary td:hover {
    background-color: transparent;
    padding-left: 10px;
}

div.main-body div.right table.user-info tr.temporary form > div {
    padding: 5px 0;
    overflow: hidden;
    font-size: 10pt;
    line-height: 30px;
}

div.main-body div.right table.user-info tr.temporary div.title {
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 10px;
}

div.main-body div.right table.user-info tr.temporary div.input {
    float: left;
    width: 300px;
}

div.main-body div.right table.user-info tr.temporary div.input input {
    font-size: 10pt;
}

div.main-body div.right table.user-info tr.temporary div.submit {
    clear: both;
    text-align: center;
}

div.main-body div.right table.user-info tr.temporary div.submit button {
    margin: 0 10px;
}

div.main-body div.right table.user-info tr.temporary h3 {
    text-align: center;
    color: #378A36;
}

div.main-body div.right table.user-info div.change-email-result {
    font-size: 10pt;
    padding-left: 50px;
}

div.main-body div.right table.user-info div.change-email-result span.resend-success,
div.main-body div.right table.user-info div.change-email-result span.resend-fail {
    color: #FFA457;
    display: none;
}*/

div.main-body div.right div.title.setting {
    border-bottom: 1px solid #D8DFEA;
    font-weight: bold;
    padding: 5px 30px 20px;
    background: url("images/setting.png") no-repeat 0 2px;
}

div.main-body div.right div.content.setting {
    padding: 35px 36px;
    font-size: 10pt;
}

div.main-body div.right div.content.setting div.row {
    padding: 3px 10px;
    clear: both;
    overflow: hidden;
    border-bottom: 1px dotted #CDCDCD;
}

div.main-body div.right div.content.setting div.row > span {
    display: block;
    float: left;
    line-height: 30px;
}

div.main-body div.right div.content.setting div.row span.left {
    width: 70px;
    text-align: right;
    margin-right: 20px;
}

div.main-body div.right div.content.setting span.left {
    color: #000000;
    font-size: 9pt;
}

div.main-body div.right div.content.setting span.right input[type=text],
.float-panel input {
    padding: 2px 5px;
    height: 25px;
    border-radius: 0;
    border-color: #808080;
}

div.main-body div.right div.content.setting span.right input[type=text] {
    width: 140px;
}

div.main-body div.right div.content.setting span.right input[type=checkbox] {
    margin: 0;
    vertical-align: -2px;
}

div.main-body div.right div.content.setting span.right select {
    background-color: #ffffff;
    border: 1px solid #808080;
    cursor: pointer;
}

div.main-body div.right div.content.setting span.right span.birthday {
    letter-spacing: 5px;
}

div.main-body div.right div.content.setting div.submit {
    margin-top: 30px;
    padding-left: 60px;
}

div.main-body div.right div.content.setting div.submit button,
.float-panel button.btn.btn-success,
.float-panel button.btn.btn-default {
    height: 30px;
    min-width: 70px;
    border-radius: 3px;
}

div.main-body div.right div.content.setting div.submit button,
.float-panel button.btn.btn-success {
    background: url("images/login-button-back.png") 0 0 repeat-x;
    color: #fff;
}

.float-panel button.btn.btn-default {
    background-color: #fff;
    color: #000;
}

div.main-body div.history.title {
    margin-top: 60px;
    border-bottom: 1px solid #D8DFEA;
    font-weight: bold;
    padding: 5px 30px 20px;
    background: url("images/history.jpg") no-repeat 0 2px;
}

div.main-body div.history.content {
    padding-top: 30px;
    padding-left: 20px;
}

div.main-body div.history.content td,
div.main-body div.history.content th {
    font-size: 10pt;
    padding: 5px 25px;
}

#passwordEditForm {
    margin-left: -162px;
    padding: 10px 20px;
}

#passwordEditForm td {
    padding: 5px;
    text-align: right;
}

#passwordEditForm td.submit {
    text-align: center;
}

#passwordEditForm td.submit button {
    margin: 0 5px;
}

#changeEmailResult {
    font-size: 10pt;
    padding: 25px;
    margin-left: -204px;
}

#changeEmailResult span.resend-success, #changeEmailResult span.resend-fail {
    color: #FFA457;
    display: none;
}

#changeEmailResult div.submit {
    margin-top: 20px;
    text-align: center;
}

#changeTelForm {
    width: 300px;
    margin-left: -150px;
    padding: 20px;
}

#changeTelForm div.input {
    margin-bottom: 20px;
}

#changeTelForm div.submit, #changeTelForm div.conflict {
    text-align: center;
}

#changeTelForm div.submit button, #changeTelForm div.conflict button {
    margin: 0 5px;
}

#changeTelForm div.wait-for-validation, #changeTelForm div.validate-error {
    position: absolute;
    right: 30px;
    top: 43px;
    display: none;
}

#changeTelForm div.wait-for-validation {
    color: #2FA242;
}

#changeTelForm div.validate-error {
    color: #FF0000;
}
