div.header {
    position: relative;
    padding-top: 10px;
    min-height: 95px;
    padding-bottom: 5px;
    background: url("images/register-header-top.png") repeat-x center top;
}

div.header div.logo {
    height: 78px;
}

div.header div.logo > div {
    height: 78px;
    line-height: 78px;
}

div.header div.logo div.left {
    position: absolute;
    left: 0;
}

div.header div.logo div.right {
    position: absolute;
    right: 0;
}

div.header div.split {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: repeat-x url("images/register-header.png");
}

div.main-body {
    position: relative;
    background-color: #F9F9F9;
    padding: 0;
    min-height: 400px;
    margin-top: 20px;
    margin-bottom: 40px;
}

div.main-body div.form {
    padding: 20px 0;
}

div.main-body div.form > div {
    margin: 20px 60px;
}

div.main-body div.form div.title {
    font-size: 16pt;
}

div.main-body div.form div.email {
    color: #6CB658;
}

div.main-body div.form div.input input {
    width: 300px;
}

div.main-body div.form div.prompt, div.main-body div.form div.subscribe {
    color: #666666;
}

div.main-body div.form div.subscribe {
    font-size: 10pt;
}

div.main-body div.form div.subscribe span.emphasize {
    color: #0066B6;
}

div.main-body div.form div.submit button, div.main-body div.register-success div.to-index a {
    border-radius: 0;
    color: #ffffff;
    background-color: #85C926;
    border-color: #85C926;
    font-size: 10pt;
    padding: 5px 20px;
}

div.main-body div.register-success {
    display: none;
}

div.main-body div.register-success div.to-index {
    margin-top: 40px;
    margin-left: 60px;
}

div.main-body div.register-success div.to-index a {
    background-color: #AEDA70;
    border-color: #AEDA70;
}

div.main-body div.completed, div.main-body div.invalid-link,
div.main-body div.register-success div.title, div.main-body div.fetch-qq-info {
    font-size: 16pt;
    margin: 60px 60px 20px;
}

div.main-body div.fetch-qq-info span.error {
    color: #FF6600;
    display: none;
}

div.main-body div.completed-link, div.main-body div.re-register,
div.main-body div.register-success div.skip {
    margin: 20px 60px 20px;
    font-size: 12pt;
    color: #666666;
}
