
div.header {
    position: relative;
    padding-top: 10px;
    min-height: 95px;
    padding-bottom: 5px;
    background: url("images/register-header-top.png") repeat-x center top;
}

div.header div.logo {
    height: 78px;
}

div.header div.logo > div {
    height: 78px;
    line-height: 78px;
}

div.header div.logo div.left {
    position: absolute;
    left: 0;
}

div.header div.logo div.right {
    position: absolute;
    right: 0;
}

div.header div.split {
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    background: repeat-x url("images/register-header.png");
}
