div.main-body {
    padding: 20px 0;
    background-color: #F2F2F2;
}

div.main-body > div {
    background-color: #ffffff;
    padding: 0 30px 100px 30px;
    min-height: 500px;
}

#passwordInputForm, div.main-body div.reset-password-result,
div.main-body div.url-expire {
    margin-left: 20%;
    margin-top: 70px;
}

#passwordInputForm td {
    padding: 5px;
}

#passwordInputForm input {
    width: 250px;
}

div.main-body div.reset-password-result, div.main-body div.url-expire {
    color: #FFA457;
}

div.main-body div.reset-password-result {
    display: none;
}
