div.float-panel.info {
    width: 530px;
    margin-left: -265px;
}

div.float-panel.info div.title {
    height: 28px;
    background-color: #82c92f;
    color: #ffffff;
    font-weight: bold;
    font-size: 9pt;
    padding: 0 10px;
    line-height: 27px;
}

div.float-panel.info div.title div.close-icon {
    position: absolute;
    right: 10px;
    top: 0;
    background: #a2d764;
    width: 42px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

div.float-panel.info div.title div.close-icon span {
    padding: 0 7px;
    background: url("images/register-image.png") -164px -34px;
}

div.float-panel.info div.body {
    padding: 20px;
}

div.float-panel.info div.button {
    padding: 0 0 20px 0;
    text-align: center;
}

div.float-panel.info div.button button {
    color: #ffffff;
    background: url('images/lottery-rule-button-back.png') repeat-x;
    height: 36px;
    padding: 0 27px;
    border-radius: 3px;
}

#subscribe div.button {
    text-align: right;
    padding: 0 10px 20px 0;
}
