div.float-panel.info {
    width: 530px;
    margin-left: -265px;
    margin-top: -95px; /* height is 190px */
}

div.float-panel.info div.body {
    padding: 20px;
}

div.float-panel.info div.button {
    padding: 0 0 20px 0;
    text-align: center;
}

div.float-panel.info div.button button {
    color: #ffffff;
    background: url('images/lottery-rule-button-back.png') repeat-x;
    height: 36px;
    padding: 0 27px;
    border-radius: 3px;
}

#subscribe div.button {
    text-align: right;
    padding: 0 10px 20px 0;
}
