
div.main-body {
    margin-top: 90px;
    margin-bottom: 230px;
    min-height: 320px;
    background-color: #F9F9F9;
    position: relative;
}

div.main-body div.support-button {
    position: absolute;
    top: 110px;
    left: 510px;
}

div.main-body div.support-button div.text {
    color: #808080;
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 25px;
}

div.main-body div.support-button div.text.success {
    color: #669900;
    display: none;
}

div.main-body div.support-button button {
    margin-left: 35px;
}

button.blue {
    background: url("images/blue-button-back.png") repeat-x center center;
    border-radius: 5px;
    padding: 8px 20px;
    color: #ffffff;
    min-width: 95px;
}
