div.main-body div.right {
    padding-bottom: 100px;
}

div.main-body div.right table.liveness td,
div.main-body div.right table.liveness th {
    font-size: 12pt;
    padding: 5px 10px;
}

div.main-body div.right div.title {
    border-bottom: 1px solid #D8DFEA;
    font-weight: bold;
    padding-left: 32px;
    padding-bottom: 20px;
    background: url("images/system-info-mail.png") no-repeat;
}

div.main-body div.right div.content {
    margin-top: 15px;
    padding-left: 10px;
}

div.main-body div.right div.content > div {
    overflow: hidden;
    border-bottom: 1px solid #D8DFEA;
    padding: 10px 0;
}

div.main-body div.right div.content > div > div {
    float: left;
}

div.main-body div.right div.content > div div.icon {
    background: url("images/system-info-tv.png") center center no-repeat;
    width: 100px;
    height: 100px;
    border-right: 1px dotted #D8DEEA;
}

div.main-body div.right div.content > div div.text {
    padding: 0 20px;
    font-size: 10pt;
}

div.main-body div.right div.content > div div.text > div {
    width: 530px;
}

div.main-body div.right div.content > div div.text div.time {
    text-align: right;
    color: #999999;
}

div.main-body div.right div.content > div div.text div.info {
    vertical-align: middle;
    padding-top: 20px;
}

div.main-body div.right ul.pagination {
    position: relative;
    left: 50%;
    margin-left: -100px;
    display: none;
}

/*
div.main-body div.right div.system-info {
    border-top: 1px dashed #dfdfdf;
    margin-top: 30px;
    padding-top: 15px;
}

div.main-body div.right div.system-info h4,
div.main-body div.right div.system-info div.filter {
    float: left;
}

div.main-body div.right div.system-info div.filter {
    padding: 10px 0 0 30px;
}

div.main-body div.right div.system-info div.info {
    clear: both;
}

div.main-body div.right div.system-info div.info.read {
    display: none;
}

div.main-body div.right div.system-info div.info div.info-item {
    background-color: #DCDCDC;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 10px;
}

div.main-body div.right div.system-info div.info div.info-item div.foot {
    margin-top: 10px;
    text-align: right;
    font-size: 9pt;
}

div.main-body div.right div.system-info div.info div.info-item div.foot span.time {
    color: #0E691E;
    font-style: italic;
}

div.main-body div.right div.system-info div.info div.info-item div.foot a {
    margin-left: 10px;
}*/
